argon2-cffi==23.1.0
flask==3.0.3
flask-cors==4.0.1
Flask-Limiter==3.8.0
gunicorn==23.0.0
librosa==0.11.0
matplotlib==3.10.9
mysql-connector-python==8.4.0
mutagen==1.47.0
numpy==2.4.6
pandas==2.3.3
PyJWT==2.9.0
python-dotenv==1.0.1
scipy==1.18.0
soundfile==0.14.0
